import init.pc_std.rc

on post-fs-data
    #flag vold that post-fs-data is finished
    setprop vold.post_fs_data_done 1

# additional initialization
service device-setup /system/bin/sh /system/etc/init.samsungxe700t.sh
    class core
    oneshot

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys.
# bugmailer.sh tool will invoke bugreport and prompt email composer
# if not in user build. Dumpstate output will be compressed.
# Since dumpstate takes a little while, play sounds at start and end of
# the process.
service bugreport /system/bin/bugmailer.sh -b /system/media/audio/ui/Dock.ogg -e /system/media/audio/ui/Undock.ogg
    class main
    disabled
    oneshot
    keycodes 115 114
