import init.core_mesa.rc

# Driver modules for camera will be loaded by ueventd.
# If you still want to ensure moduels are loaded prior to launching
# camera service, try use insmod here.

# additional initialization
service samsungxe700t-setup /system/bin/sh /system/etc/init.samsungxe700t.sh
    class core
    oneshot

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys.
# bugmailer.sh tool will invoke bugreport and prompt email composer
# if not in user build. Dumpstate output will be compressed.
# Since dumpstate takes a little while, play sounds at start and end of
# the process.
service bugreport /system/bin/bugmailer.sh -b /system/media/audio/ui/Dock.ogg -e /system/media/audio/ui/Undock.ogg
    class main
    disabled
    oneshot
    keycodes 115 114

# collect crash info if necessary
service collect_panic /system/bin/sh /system/etc/collect_panic_dumps.sh
    class core
    oneshot
