import init.pc_std.rc

on post-fs-data
    #flag vold that post-fs-data is finished
    setprop vold.post_fs_data_done 1

# additional initialization
service device-setup /system/bin/sh /system/etc/init.ivb.sh
    class core
    oneshot
