on early-init
    # Mesa environment variables
    export MESA_EXTENSION_OVERRIDE "+GL_OES_EGL_image_external -GL_ARB_framebuffer_object"
    # Force on S3TC hardware decompression support in Mesa
    export force_s3tc_enable true

    # Mesa debugging options - see http://www.mesa3d.org/envvars.html for more details
    #export MESA_DEBUG 1
    #export LIBGL_DEBUG 1
    #export EGL_LOG_LEVEL debug

    # Since mesa spits its messages out to stderr, need to tell android
    # to route stdio to logcat. This is disabled because turning it on
    # causes stdio from 'am instrument' to be redirected to logcat
    # instead of going to adb.
    #setprop log.redirect-stdio true

on init
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard2 0000 system system

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /mnt/shell/emulated
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    chown system system /sys/class/backlight/intel_backlight/brightness
    chown system system /sys/class/backlight/acpi_video0/brightness

    # For Houdini; add extra library paths
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/system/lib/arm:/system/lib/egl

    setprop service.adb.tcp.port 5555

    # make mount point for usb thumb drives
    mkdir /storage/usbcard 0000 system system

    # device information
    setprop ro.product.manufacturer $[/sys/class/dmi/id/sys_vendor]
    setprop ro.product.model $[/sys/class/dmi/id/product_name]
    setprop ro.product.name $[/sys/class/dmi/id/product_name]
    setprop ro.serialno $[/sys/class/dmi/id/product_serial]

on fs
    mount_all /fstab.common
    setprop ro.crypto.fuse_sdcard true

    # Allow system group to read/write the Bootloader control block device
    chown root system ${ro.boot.bcb_device}
    chmod 660 ${ro.boot.bcb_device}

on post-fs
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # trigger block devices uevents to fire some "add" uevents to poke ueventd to
    # start deferred module loading. System partition must be ready prior to
    # this point. The correct sequence should be guaranteed by this rc file.
    coldboot /sys/block

on post-fs-data
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/system/ 0770 system system
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp wifi
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    mkdir /data/system/wpa_supplicant 0770 wifi wifi

    # To store BT paired info
    mkdir /data/misc/hcid 0770 bluetooth bluetooth

    # for perf
    export PERF_PAGER cat
    export PERF_TMP_DIR /data/local/tmp
    write /proc/sys/kernel/kptr_restrict 1

    # Offline log services: keep logs (/data/logs/*.old) of logcat and kernel
    # from the previous reboot cycle. To enable it, remove '#' at the head of
    # this line:

    # setprop debug.offline.log 1

on boot
    chown root bluetooth /dev/rfkill
    chmod 0660 /dev/rfkill
    insmod /system/lib/modules/mfd-core.ko
    insmod /system/lib/modules/industrialio.ko
    insmod /system/lib/modules/kfifo_buf.ko
    insmod /system/lib/modules/industrialio-triggered-buffer.ko
    insmod /system/lib/modules/hid-sensor-hub.ko
    insmod /system/lib/modules/hid-sensor-iio-common.ko
    insmod /system/lib/modules/hid-sensor-accel-3d.ko
    insmod /system/lib/modules/hid-sensor-gyro-3d.ko
    insmod /system/lib/modules/hid-sensor-als.ko
    insmod /system/lib/modules/hid-sensor-magn-3d.ko


# additional initialization
service bigcore-setup /system/bin/sh /system/etc/init.bigcore.sh
    class core
    oneshot

# for wifi
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    group wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -d -BK -f /system/etc/dhcpcd/android.conf
    class main
    group wifi root system net_admin net_raw
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:wlan.driver.status=ok
    ifup wlan0

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

service hciattach /system/xbin/hciconfig hci0 up
    user root
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL -f /system/etc/dhcpcd/android-bt.conf
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# for eth0
service net_eth0-start /system/bin/sh /system/etc/init.net.eth0.sh
    class core
    disabled
    oneshot

on device-added-/dev/eth0
    start net_eth0-start

#enable Houdini for executable
service enable_houdini /system/bin/enable_houdini
    class main
    oneshot

# offline log services
service kernel-log /system/bin/aklog -f /data/logs/kernel.log -s 1024 -n 1
    class main
    user root
    group log
    disabled
    oneshot

# no -b, to keep main and system log buffers' content in a single log file
service logcat-sys /system/bin/logcat -f /data/logs/main_system.log -r 1024 -n 10 -v time
    class main
    user system
    group log
    disabled
    oneshot

service logcat-events /system/bin/logcat -f /data/logs/events.log -r 1024 -n 10 -v time -b events
    class main
    user system
    group log
    disabled
    oneshot


on property:debug.offline.log=1

    copy /data/logs/kernel.log /data/logs/kernel.log.old
    copy /data/logs/kernel.log.1 /data/logs/kernel.log.1.old
    rm /data/logs/kernel.log
    rm /data/logs/kernel.log.1

    copy /data/logs/main_system.log /data/logs/main_system.log.old
    copy /data/logs/events.log /data/logs/events.log.old
    rm /data/logs/main_system.log
    rm /data/logs/events.log

    mkdir /data/logs/
    chown system log /data/logs
    chmod 0770 /data/logs

    start kernel-log
    start logcat-sys
    start logcat-events

on device-removed-/dev/iio:device0
    setprop iio.device0.removed 1

on device-removed-/dev/iio:device1
    setprop iio.device1.removed 1

on device-removed-/dev/iio:device2
    setprop iio.device2.removed 1

on device-removed-/dev/iio:device3
    setprop iio.device3.removed 1

on device-added-/dev/iio:device0
    setprop iio.device0.removed 0
    chown system system /dev/iio:device0
    chown system system /sys/bus/iio/devices/iio:device0/*
    chown system system /sys/bus/iio/devices/iio:device0/buffer/*
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/*
    chown system system /sys/bus/iio/devices/iio:device0/trigger/*

on device-added-/dev/iio:device1
    setprop iio.device1.removed 0
    chown system system /dev/iio:device1
    chown system system /sys/bus/iio/devices/iio:device1/*
    chown system system /sys/bus/iio/devices/iio:device1/buffer/*
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/*
    chown system system /sys/bus/iio/devices/iio:device1/trigger/*

on device-added-/dev/iio:device2
    setprop iio.device2.removed 0
    chown system system /dev/iio:device2
    chown system system /sys/bus/iio/devices/iio:device2/*
    chown system system /sys/bus/iio/devices/iio:device2/buffer/*
    chown system system /sys/bus/iio/devices/iio:device2/scan_elements/*
    chown system system /sys/bus/iio/devices/iio:device2/trigger/*

on device-added-/dev/iio:device3
    setprop iio.device3.removed 0
    chown system system /dev/iio:device3
    chown system system /sys/bus/iio/devices/iio:device3/*
    chown system system /sys/bus/iio/devices/iio:device3/buffer/*
    chown system system /sys/bus/iio/devices/iio:device3/scan_elements/*
    chown system system /sys/bus/iio/devices/iio:device3/trigger/*

