# for eth0
service net_eth0-start /system/bin/sh /system/etc/init.net.eth0.sh
    class core
    oneshot
    disabled

on post-fs-data
    setprop net.eth0.ip 192.168.42.1
    setprop net.eth0.netmask 255.255.255.0
    start net_eth0-start

