# for bluetooth rfkill nodes
/sys/devices/*/bluetooth/hci0/rfkill* state 0660 bluetooth bluetooth
/sys/devices/*/bluetooth/hci0/rfkill* type  0440 bluetooth bluetooth

# for video devices
/dev/video*    0660    media    system

/sys/devices/*/sdb3 dummy 0600 root root trigger:sdb3
/sys/devices/*/sdb4 dummy 0600 root root trigger:sdb4
/sys/devices/*/sdc3 dummy 0600 root root trigger:sdc3
/sys/devices/*/sdc4 dummy 0600 root root trigger:sdc4
