# for bluetooth rfkill nodes
/sys/devices/*/bluetooth/hci0/rfkill* state 0660 bluetooth bluetooth
/sys/devices/*/bluetooth/hci0/rfkill* type  0440 bluetooth bluetooth

# for video devices
/dev/video*    0660    media    system

#for bluedroid uhid support
/dev/uhid             0660 bluetooth bluetooth

# Known bluetooth devices.  Note: no leading zeros allowed, as these
# get matched as strings (!) directly against the uevent PRODUCT field
# which omits them.
__uevent_add_VID_PID__ 4ca/3008 0660 bluetooth bluetooth
__uevent_add_VID_PID__ 8086/189 0660 bluetooth bluetooth
__uevent_add_VID_PID__ 8087/7da 0660 bluetooth bluetooth
__uevent_add_VID_PID__ 8087/7dc 0660 bluetooth bluetooth
__uevent_add_VID_PID__ a12/1 0660 bluetooth bluetooth
