import init.pc_std.rc

on post-fs-data
    # modules for Lenovo's HDAPS
    # then slow down the sampling rate of accelerometer
    # then swap X,Y and invert them

    # install hdaps module
    insmod /system/lib/modules/thinkpad_ec.ko
    insmod /system/lib/modules/hdaps.ko

    write /sys/devices/platform/hdaps/sampling_rate 20
    write /sys/devices/platform/hdaps/invert 5

    #flag vold that post-fs-data is finished
    setprop vold.post_fs_data_done 1

# Driver modules for camera will be loaded by ueventd.
# If you still want to ensure moduels are loaded prior to launching
# camera service, try use insmod here.

# additional initialization
service device-setup /system/bin/sh /system/etc/init.lenovox220t.sh
    class core
    oneshot

# bugreport is triggered by the F1 and F12 keys.
# bugmailer.sh tool will invoke bugreport and prompt email composer
# if not in user build. Dumpstate output will be compressed.
# Since dumpstate takes a little while, play sounds at start and end of
# the process.
service bugreport /system/bin/bugmailer.sh -b /system/media/audio/ui/Dock.ogg -e /system/media/audio/ui/Undock.ogg
    class main
    disabled
    oneshot
    keycodes 59 88
