on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/sdcard2 0000 system system

    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

    export MESA_EXTENSION_OVERRIDE +GL_OES_EGL_image_external

on init
#    chown root radio /dev/ttyGTM*
#    chmod 0660 /dev/ttyGTM*
#    setprop gsm.firmware.upload ok

    # Option GPS setup: set properties
#    setprop ro.gps.data.serial.interface ttyHS1
#    setprop ro.gps.control.serial.interface ttyHS2

#    chown system system /sys/class/backlight/acpi_video2/brightness

    setprop service.adb.tcp.port 5555

    # make mount point for usb thumb drives
    mkdir /mnt/usbcard 0000 system system

on post-fs
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

    # mkdir /data/system/ 0770 system system
    # chmod 0664 /sys/class/backlight/psb-bl/max_brightness
    # chmod 0664 /sys/class/backlight/psb-bl/brightness
    # chmod 0664 /sys/class/backlight/psb-bl/actual_brightness

on post-fs-data
    
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/system/ 0770 system system
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp wifi
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    mkdir /data/system/wpa_supplicant 0770 wifi wifi

    # bring up Option modem hso interface and set permission
#    insmod /system/lib/modules/hso.ko
#    start ril-daemon

    # Insert graphics drivers
    insmod /system/lib/modules/drm.ko debug=0xe
    insmod /system/lib/modules/drm_kms_helper.ko
    insmod /system/lib/modules/i915.ko modeset=1 

    # Insert Wacom touch driver
    insmod /system/lib/modules/wacom.ko

    #flag vold that post-fs-data is finished
    setprop vold.post_fs_data_done 1

on boot


# for eth0
service std_pc-setup /system/bin/sh /system/etc/init.lenovox220t.sh
    class core
    oneshot

# for wifi
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    group wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -d -BK -f /system/etc/dhcpcd/android.conf
    group wifi root system net_admin net_raw
    disabled
    oneshot


on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:wlan.driver.status=ok
    ifup wlan0

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start

